@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;600;700&display=swap');

:root {
  --main-background: hsl(222, 26%, 31%);
  --toggle-background: hsl(223, 31%, 20%);
  --screen-background: hsl(224, 36%, 15%);
  --key-background: hsl(225, 21%, 49%);
  --key-shadow: hsl(224, 28%, 35%);
  --key-toggle-background: hsl(6, 63%, 50%);
  --key--toggle-shadow: hsl(6, 70%, 34%);
  --key2-background: hsl(30, 25%, 89%);
  --key2-shadow: hsl(28, 16%, 65%);
  --text: hsl(221, 14%, 31%);
  --button-text: #fff;
  --title-text: #fff;
  --button-white: #fff;
  --switch-position: 5px;
  --switch-color: hsl(6, 63%, 50%);
}

[data-theme="second-theme"] {
  --main-background: hsl(0, 0%, 90%);
  --toggle-background: hsl(0, 5%, 81%);
  --screen-background: hsl(0, 0%, 93%);
  --key-background: hsl(185, 42%, 37%);
  --key-shadow: hsl(185, 58%, 25%);
  --key-toggle-background: hsl(25, 98%, 40%);
  --key--toggle-shadow: hsl(25, 99%, 27%);
  --key2-background: hsl(45, 7%, 89%);
  --key2-shadow: hsl(35, 11%, 61%);
  --text: hsl(60, 10%, 19%);
  --button-text: hsl(0, 0, 100%);
  --title-text: hsl(60, 10%, 19%);
  --button-white: #fff;
  --switch-position: 30px;
  --switch-color: hsl(25, 98%, 40%);
}

[data-theme="third-theme"] {
  --main-background: hsl(268, 75%, 9%);
  --toggle-background: hsl(268, 71%, 12%);
  --screen-background: hsl(268, 71%, 12%);
  --key-background: hsl(281, 89%, 26%);
  --key-shadow: hsl(285, 91%, 52%);
  --key-toggle-background: hsl(176, 100%, 44%);
  --key--toggle-shadow: hsl(177, 92%, 70%);
  --key2-background: hsl(268, 47%, 21%);
  --key2-shadow: hsl(290, 70%, 36%);
  --text: hsl(52, 100%, 62%);
  --button-text: hsl(198, 20%, 13%);
  --title-text: hsl(52, 100%, 62%);
  --button-white: #fff;
  --switch-position: 55px;
  --switch-color: hsl(176, 100%, 44%);
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  font-family: 'Spartan', sans-serif;;
  background-color: var(--main-background);
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 30%;
  height: 80%;
  background-color: var(--main-background);
}

/* Title */

.title {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.text {
  font-size: 24px;
  font-weight: 700;
  color: var(--title-text);
}

.theme {
  display: flex;
  align-items: flex-end;
}

.theme-text {
  color: var(--title-text);
  font-size: 12px;
  font-weight: 600;
  margin: 0 30px 5px 0;
}

.choice-text {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.number {
  letter-spacing: 7.5px;
  color: var(--title-text);
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 4px;
}

/* Switcher */

.slider {
  width: 75px;
  height: 25px;
  background-color: var(--toggle-background);
  display: flex;
  align-items: center;
  cursor: pointer;
}

.slider::before {
  background: var(--switch-color);
  content: "";
  height: 15px;
  transition: 0.4s;
  width: 15px;
  position: absolute;
  margin-left: var(--switch-position);
}

.slider.round {
  border-radius: 34px;
}

.slider.round::before {
  border-radius: 50%;
}

.theme-btn {
  height: 100%;
  width: calc(100% / 3);
  background-color: var(--toggle-background);
  border-radius:34px;
  border: none;
  cursor: pointer;
  padding: 0;
}

/* Display Screen */
.screen {
  margin-top: 30px;
  width: 100%;
  height: 120px;
  background-color: var(--screen-background);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

h1 {
  padding-right: 30px;
  font-size: 42px;
  color: var(--title-text);
}

/* Button */

.card {
  height: 400px;
  background-color: var(--toggle-background);
  margin-top: 25px;
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  padding: 25px;
}

.button {
  min-height: 50px;
  font-size: 32px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background: var(--key2-background);
  box-shadow: 0px 5px 0px 0px var(--key2-shadow);
  -webkit-box-shadow: 0px 5px 0px 0px var(--key2-shadow);
  -moz-box-shadow: 0px 5px 0px 0px var(--key2-shadow);
  font-weight: 700;
  font-family: 'Spartan', sans-serif;
  color: var(--text);
}

.button:active {
  transform: translateY(2px);
  box-shadow: 0px 5px 0px 0px var(--key2-background);
}

.reset-button {
  grid-column: 1 / span 2;
  background-color: var(--key-background);
  box-shadow: 0px 5px 0px 0px var(--key2-shadow);
  -webkit-box-shadow: 0px 5px 0px 0px var(--key-shadow);
  -moz-box-shadow: 0px 5px 0px 0px var(--key-shadow);
}

.reset-button:active {
  box-shadow: 0px 5px 0px 0px var(--key-background);
}

.equal-button {
  grid-column: 3 / span 2;
  background-color: var(--key-toggle-background);
  box-shadow: 0px 5px 0px 0px var(--key--toggle-shadow);
  -webkit-box-shadow: 0px 5px 0px 0px var(--key--toggle-shadow);
  -moz-box-shadow: 0px 5px 0px 0px var(--key--toggle-shadow);
}

.equal-button:active {
  box-shadow: 0px 5px 0px 0px var(--key-toggle-background);
}

.del-button {
  background-color: var(--key-background);
  box-shadow: 0px 5px 0px 0px var(--key2-shadow);
  -webkit-box-shadow: 0px 5px 0px 0px var(--key-shadow);
  -moz-box-shadow: 0px 5px 0px 0px var(--key-shadow);
}

.del-button:active {
  box-shadow: 0px 5px 0px 0px var(--key-background);
}

.another-button {
  font-size: 20px;
  color: var(--button-white);
}

/* Tablet Size */
@media screen and (max-width: 1440px) {

  .container {
    width: 60%;
  }
}

/* Mobile Size */
@media screen and (max-width: 600px) {
  
  .container {
    width: 90%;
  }
}